* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(235, 232, 232);
}
nav {
  width: 100%;
  background: linear-gradient(180deg, rgb(165, 2, 2), rgb(19, 19, 19));
  min-height: 10vh;
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 999;
}
.first_nav_links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.first_nav_links li {
  text-align: center;

  padding: 15px 25px;
  border-right: 1px solid black;
}
.first_nav_links li:hover {
  color: #a09090;
}
.inp {
  /* padding: 6px 120px; */
  margin: 10px 4px;
  height: 25px;
  width: 250px;
}

a {
  text-decoration: none;
  color: rgb(242, 240, 240);
}
.hero {
  position: relative;
  width: 95%;
  height: 350px;
  margin: auto;
  background-color: rgb(197, 194, 194);
}
#logo {
  cursor: pointer;
}
.hero_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.library {
  min-height: 100vh;
  position: relative;
  background-color: white;
  width: 95%;
  margin: auto;
}
.editablw {
  display: flex;
  /* background: turquoise; */
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100vh;
}
.music_section {
  flex: 0.7;
  border-right: 1px solid rgb(148, 146, 146);
}
.follower_side {
  flex: 0.3;
}
ul {
  /* flex-direction: row; */
  width: 100%;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  /* margin: 5px; */
  /* background: rgb(172, 133, 62); */
}
.list li {
  margin: 10px;
  padding: 9px;
  transition: 0.5s ease-out;
}
hr {
  margin-top: -21px;
}
h1 {
  color: #f1f1f1;
}
.list li:hover {
  transition: all 0.6s ease-in;
  border-bottom: 1px solid black;
}
.upload_note {
  display: flex;
  top: 50%;

  flex-direction: column;
  left: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(50%, 50%);
}
.upload_note a {
  color: darkblue;
}
.upload_note button {
  padding: 10px 10px;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(165, 2, 2), rgb(19, 19, 19));
  color: #f1f1f1;
  border-radius: 5px;
}

.user_img {
  position: absolute;
  top: 20%;
  left: 15px;
  border-radius: 50%;
  width: 230px;
  height: 245px;
  background: rosybrown;
}
.user_img img {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.td {
  position: absolute;
  bottom: 10%;
  left: 45px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  z-index: 999;
  pointer-events: none;
  cursor: pointer;
}
.upload_image input[type="file"] {
  position: absolute;
  bottom: 10%;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.profile_name {
  position: absolute;
  top: 20%;
  left: 22%;
  font-size: 1.2rem;
  padding: 15px 20px;
  background: black;
  color: white;
}
button {
  cursor: pointer;
}
.slu {
  position: absolute;
  z-index: 999;
  padding: 5px 20px;
  display: block;
  top: 40%;
  right: 4%;
  pointer-events: none;
}
.upload_header input {
  cursor: pointer;
  position: absolute;
  top: 43%;
  right: -10;
  opacity: 0;
}
#modal_section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.638);
}
.closeBtn {
  float: right;
  font-size: 30px;
  color: rgb(8, 75, 199);
  cursor: pointer;
}
.modal_content {
  position: relative;
  background: #fff;
  width: 70%;
  height: 40%;
  margin: 20px auto;
  animation: modOpen 2s;
}
.mod_btn {
  position: absolute;
  bottom: 40;
  right: 20;
}
@keyframes modOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#modal_section2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.638);
}
.closeBtn2 {
  float: right;
  font-size: 30px;
  color: rgb(8, 75, 199);
  cursor: pointer;
}
.modal_content2 {
  position: relative;
  background: #fff;
  width: 70%;
  height: 40%;
  margin: 20px auto;
  animation: modOpen2 2s;
}
.mod_btn2 {
  position: absolute;
  bottom: 40;
  right: 20;
}
@keyframes modOpen2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#app {
  /* opacity: 0;
  display: none;  */
}
.loading .hidden {
  /* opacity: 0; */
  display: none;
}
.active {
  opacity: 1;
  display: block;
}
.demo {
  /* height: 100vh; */
  /* background-color: rebeccapurple; */
}

.playbar {
  width: 100%;
  background: red;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.playbar img {
  width: 20px;
  height: 20px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 19, 19);
  padding: 1rem;
}
.control img {
  margin: 5px;
  cursor: pointer;
}
.play-control {
  display: flex;
  /* background-color: rgb(190, 151, 151); */
  width: 50%;
}
/* .play-control input {
  width: 100%;
} */
.play-control p {
  padding: 0 0.51rem;
}
.images-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.song-info {
  display: flex;
}
.song-info.tr {
  /* display: inline-block; */
  display: none;
  color: red;
}
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  /* padding: 0.5rem 0.5rem; */
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  background-color: black;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 0.8rem;
  height: 1.7rem;
  border-radius: 50%;
  background: rgb(22, 22, 21);
  box-shadow: black red black;
}
.track {
  background: rgb(2, 142, 177);
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 0.5rem;

  overflow: hidden;
}
.animate-track {
  background: rgba(204, 175, 175, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}
